.form-container {
  width: 800px;
  height: auto;
  border-radius: 10px;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.form-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  text-align: center;
  gap: 30px;
}

.form-part h1 {
  color: black;
}

.form-part > label {
  width: 100%;
  min-height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-part > label > input {
  width: 100%;
  height: 100%;
  display: flex;
  border: 1px solid white;
  border-radius: 5px;
  padding-inline: 10px;
  box-sizing: border-box;
  font-family: "georgian", sans-serif;
  box-shadow: inset rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.form-part > label > input:focus {
  outline: none;
}

.form-part button {
  width: 100%;
  min-height: 38px;
  border: 0;
  border-radius: 20px;
  background-color: #4e34b7;
  color: white;
  font-family: "georgian", sans-serif;
}

.form-part button:hover {
  cursor: pointer;
}

.eye-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
}

.eye-icon:hover {
  cursor: pointer;
}

/* Responsive Styles */

@media screen and (max-width: 850px) {
  .form-container {
    width: 95%;
    height: 400px;
  }

  .form-container p {
    text-align: center;
  }
}
@media screen and (max-width: 665px) {
  .form-container img{
    display: none;
  }

  .form-part{
    width: 100%;
  }
}
