.showCard-container {
  position: fixed;
  z-index: 49;
  top: 80px;
  left: 0;
  backdrop-filter: blur(10px);
  width: 100%;
  height: calc(100vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-container {
  width: 800px;
  height: 400px;
  background-color: white;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 350px;
  height: 200px;
  background-color: orange;
  border-radius: 10px;
  padding: 10px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-upperPart {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-bottomPart {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.discounts{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.card-bottomPart p{
    padding: 5px;
}